<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Form</title>
</head>
<body>
    <h1>Form page to add new animal</h1>
    <a href="/">Back to home page</a>
    <form method="POST" action="/mongooses">
        <p>Animal: <input name="animal" type="text"></p>
        <p>Description: <textarea rows="6" cols="60" name="description"></textarea></p>
        <button>Add animal</button>
    </form>
</body>
</html>