<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Index page</title>
</head>
<body>
    <form action="/mongooses/new">
        <button>Add new animal</button>
    </form>
    <h1>You've landed to index page</h1>
    <% for (x in animals) { %>
        <p><a href="/mongooses/<%= animals[x].id %>"><%= animals[x].animal %></a></p>
        <p>Description: "<%= animals[x].description %>"</p>
        <p>Option: <a href="/mongooses/destroy/<%= animals[x].id %>">Delete</a></p>
        <hr>
        <% }%>
</body>
</html>