<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One animals</title>
</head>
<body>
    <a href="/">Back to index</a>
    <h3>Name: <h1><%= type.animal%></h1></h3>
    <hr>
    <h3>Description: <p><%= type.description %></p></h3>
    <a href="/mongooses/edit/<%= type.id %>"> Edit</a>
</body>
</html>